<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet & Network Permissions for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineExamApp"
        tools:targetApi="31">

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.OnlineExamApp.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity" />


        <!-- Other Activities -->
        <activity android:name=".activities.TakeQuizActivity"/>


        <activity android:name=".activities.ManageExamsActivity" />
        <activity android:name=".activities.TakeExamActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.AdminViewResultsActivity" />
        <activity android:name=".activities.EditExamActivity" />
        <activity android:name=".activities.CreateExamActivity" />
        <activity android:name=".activities.AddQuestionActivity" />
        <activity android:name=".activities.ManageStudentsActivity" />

        <activity android:name=".activities.EditStudentActivity" />
        <activity android:name=".activities.ViewResponsesActivity" />

        <!-- Fixed: EditQuestionActivity -->
        <activity
            android:name=".activities.EditQuestionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".activities.ResetPasswordActivity" />
        <activity android:name=".activities.ForgetPasswordActivity" />
        <activity android:name=".activities.EmailVerificationActivity"/>
        <activity android:name=".activities.AuthActivity"/>
        <activity android:name=".activities.CreateAnnouncementActivity"/>
        <activity android:name=".activities.CreateSubjectActivity"/>
        <activity android:name=".activities.TakeAttendanceActivity"/>
        <activity android:name=".activities.StudentScanQrActivity"/>
        <activity android:name=".activities.ManageAttendanceActivity"/>

    </application>

</manifest>
